aside
  ul.social   
    each item in ["whatsapp", "viber", "telegram", "instagram"]
      li.social__item: a(href="#"): img(inline src=require(`../img/${item}.svg`), width="19", height="19", alt=`${item.charAt(0).toUpperCase() + item.slice(1)}`) 
  div