form(action="submit")
  fieldset.contact__field
    label.hidden(for="name_contact") Имя
    input#name_contact(placeholder="Ваше имя", required)
    label.hidden(for="email_contact") E-mail
    input#email_contact(type="email", placeholder="Ваш e-mail", required)
    button(type="submit") Получить пример проекта
      img(src=require("../img/right-arrow.svg"), width="37", height="20" alt="")
include column