header.main-header
  a.logo(href="#"): img(src=require("../img/main-logo.svg"), width="168", height="45", alt="Фриплан - студия дизайна интерьера")
  nav.main-menu
    ul.main-menu__list
      each item in ["Главная", "Услуги", "Цены", "Портфолио", "Контакты"]
        li.main-menu__item: a(href="#")= item
  .toggle 
    div 
    div 
    div 
  include info.pug
  .hamb 
    ul.hamb__list
      each item in ["Главная", "Услуги", "Цены", "Портфолио", "Контакты", "Анкета", "Вакансии", "Тех. задание"] 
        li.hamb__item: a(href="#")= item
    include info.pug