.main-header, .footer {
	grid-column: span 2;
  padding: $sm $heavy $sm 10vw;
}
.main-header {
  position: fixed;
  top: 0;
  left: 0;
	width: 100%;
  @extend %df_c;
  background-color: $bg;
  z-index: 1;
	@include mobile {
		.info {
			display: none;
		}
	}
}
.hero, .contact, .consult {
	padding: $heavy 0;
}
.hero {
  background-image: url("../img/hero.webp");
	@extend %bg_cover;
	.container {
		background-color: $bg_a;
	}
}
.about {
	&__list {
		@extend %df_c;
		margin-left: 15%;
		flex-wrap: wrap;
	}
  &__block {
    align-self: baseline;
		flex: 0 0 25%;
    @include mobile-only {
      flex: 0 1 50%;
    }
    img {
      margin-bottom: $md;
    }
    h3 {
			width: max-content;
      border: {
        style: solid;
        bottom-width: 4px;
      }
    }
    &:nth-of-type(1) h3 {
      border-bottom-color: $green;
    }
    &:nth-of-type(2) h3 {
      border-bottom-color: $red;
    }
    &:nth-of-type(3) h3 {
      border-bottom-color: $blue;
    }
  }
}
.portfolio {
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		grid-gap: $normal;
		align-items: end;
		@include mobile-small {
			grid-template-columns: 1fr;
		}
	}
}
.price {
	&__list {
		@extend %df_c;
		@include mobile {
			flex-wrap: wrap;
		}
	}
	&__item {
		position: relative;
		padding: 5%;
		transition: color $tr, background-color $tr;
		text-align: center;
		flex: 1 0 33%;
		@include mobile {
			flex: 0 0 100%;
		}
		img, svg {
			margin-bottom: $xl;
			fill: $text;
			transition: fill $tr;
		}
		@include hover {
			&:hover {
				color: $bg;
				svg {
					fill: $bg;
				}
			}
			&:nth-of-type(1):hover {
				background-color: $blue;
			}
			&:nth-of-type(2):hover {
        background-color: $green;
      }
      &:nth-of-type(3):hover {
        background-color: $red;
      }
		}
	}
} 
.benefits {
  position: relative;
	&__list {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: $xl;
	}
	&__item {
		position: relative;
		flex: 0 1 33%;
		text-transform: uppercase;
		font-weight: 800;
		@include mobile-only {
			flex: 0 0 45%;
		}
		img {
			margin-left: $normal;
			margin-bottom: $sm;
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 20%;
			left: 0;
			display: block;
			width: 5rem;
			height: 4px;
			background-color: $green;
		}
	}
  .corner {
    border-color: $text;
		right: $heavy;
    @include laptop-only {
      display: none;
    }
    &:nth-of-type(2) {
      top: 0;
    }
    &:nth-of-type(3) {
      bottom: 0;
      transform: rotate(90deg);
    }
  }
}
.contact, .consult {
  color: $bg;
	@extend %bg_cover;
  .container {
    background-color: $text_a;
  }
}
.contact {
  background-image: url("../img/contact1.webp");
  button {
    background-color: $green;
  }
}
.review {
	&__list {
		@extend %df_c;
		@include laptop-only {
			flex-wrap: wrap;
		}
	}
	&__item {
		flex: 0 1 30%;
		column-gap: $sm;
    @include laptop-only {
      flex: 0 0 100%;
      margin-bottom: 3rem;
    }
    &:nth-of-type(1) blockquote::after {
      border-color: $red;
    }
    &:nth-of-type(2) blockquote::after {
      border-color: $green;
    }
    &:nth-of-type(3) blockquote::after {
      border-color: $blue;
    }
  }
}
.consult {
  background-image: url("../img/contact2.webp");
  button {
    background-color: $blue;
  }
}
.footer {
  @extend %df_c;
  flex-wrap: wrap;
  color: $bg;
  background-image: url("../img/footer.webp");
	@extend %bg_cover;
	@include mobile-small {
		padding-left: $sm;
		padding-right: $sm;
	}
  .logo {
    flex: 0 0 100%;
  }
  &_left {
    flex: 0 0 70%;
    border-right: 1px solid $grey;
		@include mobile {
			flex: 0 0 100%;
		}
  }
  &__menu {
    margin-left: $xl;
		@extend %df_c;
		flex-direction: column;
		flex-wrap: wrap;
		max-height: 12rem;
		row-gap: $semi;
		@include tablet-only {
			max-height: max-content;
		}
  }
	&__item:not(.footer__item:last-of-type) {
		text-transform: uppercase;
    font-weight: 800;
	}
  &__payment-info {
    text-decoration: underline;
  }
  &_right {
    flex: 0 0 30%;
    @extend %df_c;
		flex-direction: column;
		@include mobile {
			flex-direction: row;
			flex: 0 0 100%;
			.payment {
				margin: 0;
			}
		}
		@include mobile-small {
			flex-wrap: wrap;
		}
  }
}