@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
*, ::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  padding-left: 10vw;
  background-color: $bg;
  color: $text;
  font: {
    family: "Open Sans", sans-serif;
    weight: 400;
    size: 13px;
  }
  line-height: 1.6;
  letter-spacing: 0.3px;
  @include mobile {
    padding-left: 10px;
  }
  @include big-desktop {
    font-size: 20px;
  }
}
:focus {
  border: 0;
  outline: $blue solid 2px;
}
a {
  color: inherit;
  text-decoration: none;
  &[href^="mailto"] {
    color: $orange;
  }
}
ul, li {
  list-style: none;
}
img, svg {
  display: inline-block;
}
button, .btn-like {
  display: block;
  padding: 1.8vh 2.4vw;
  color: $bg;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
  line-height: 2;
  svg, img {
    transform: translateY(4px);
    fill: $bg;
  }
  &:disabled {
    background-color: $grey;
    cursor: not-allowed;
  }
}
h1, h2, .title, p {
  padding-left: 3vw;
}
p {
  margin-bottom: 2.7rem;
}
h1, h2, h3, .title {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
h1, h2, .title {
  font-size: 1.6rem;
}
h1, h2, h3 {
  margin-bottom: 1.5rem;
}
h3 {
  width: max-content;
  font-size: 1.2rem;
}
form {
  display: flex;
  @include tablet-only {
    flex-wrap: wrap;
    button {
      margin-left: 3rem;
      flex: 0 0 80%;
    }
  }
  input {
    flex: 0 1 30%;
    &:nth-of-type(1) {
      margin-left: 3rem;
      margin-right: 1.5rem;
    }
    @include tablet-only {
      margin: 1rem 3rem;
      flex: 0 0 80%;
    }
  }
}
input {
  &:not([type="radio"]) {
    padding: 1.2rem;
    background-color: $bg;
  }
  &[type="radio"] {
    appearance: none;
    position: relative;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solod $orange {
      radius: 50%;
    }
    &:checked::before {
      content: "";
      position: absolute;
      top: 25%;
      left: 25%;
      width: 10px;
      height: 10px;
      background-color: $orange;
      border-radius: 50%;
    }
  }
}
label {
  width: 90%;
  cursor: pointer;
}
legend {
  margin-bottom: 1.5rem;
  color: $orange;
  font: {
    size: 1.32rem;
    weight: 700;
  }
}
span {
  a {
    text-decoration: underline;
  }
}
address {
  font-style: normal;
}
cite {
  display: block;
  text-align: center;
  margin-top: 3rem;
  text-transform: uppercase;
  font: {
    style: normal;
    weight: 800;
  }
  @include laptop-only {
    margin-top: 2rem;
  }
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10vh 0;
}
aside {
  position: fixed;
  bottom: 10vh;
  left: 5vw;
  z-index: 5;
  @include mobile {
    display: none;
  }
  div {
    height: 100px;
    width: 1px;
    background-color: $text;
    margin: 25px auto 0 auto;
  }
}
.logo {
  margin: 1rem auto 0 0;
}
.main-menu {
  &__list {
    display: flex;
    @include laptop-only {
      display: none;
    }
  }
  &__item {
    margin-left: 2.7rem;
    text-transform: uppercase;
    font-weight: 800;
  }
}
.info {
  margin-left: auto;
  font-weight: 800;
  text: {
    align: right;
    transform: uppercase;
  }
}
.toggle {
  margin-left: 2.7rem;
  cursor: pointer;
  z-index: 2;
  * {
  height: 3px;
  width: 21px;
  background-color: $text;
  transform-origin: center;
  transition: transform $tr; 
  }
  * + * {
    margin-top: 4px;
  }
}
.hamb {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10%;
  width: 100vw;
  height: 100vh;
  background-color: $bg;
  transform: translate(-100%);
  transition: translate $tr;
  z-index: 1;
  &__list {
    text-align: center;
  }
  &__item {
    margin-bottom: 2rem;
    text-transform: uppercase;
    font: {
      weight: 800;
      size: 1.3rem;
    }
  }
}
.container {
  height: max-content;
  padding: 6vh 5vw 6vh 0vw;
  margin-right: 10%;
  @include mobile-only {
    margin: 0;
  }
  @include mobile {
    padding-left: 0;
  }
  button {
    margin-left: auto;
    @include laptop-only {
      margin-left: 3rem;
    }
  }
}
.column {
  width: 50%;
  margin: 2.7rem 0 0 auto;
  @include laptop-only {
    margin-left: 3rem;
  }
  @include mobile {
    width: 100%;
    margin-left: 0;
  }
}
.accent {
  color: $orange;
  border-bottom: 4px solid $orange;
}
.list {
  width: 100%;
  display: grid;
  margin-bottom: 5rem;
  grid: {
    template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 2%;
  }
  @include mobile_small {
    grid-template-columns: 1fr;
    height: max-content;
  }
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20%;
  color: $bg;
  transition: background-color $tr;
  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      background-image: url("../img/portfolio#{$i}.jpg");
    }
  }
  &__title {
    border-bottom: 3px solid $bg;
    transition: opacity $tr;
    transform: translateY(70px);
    opacity: 0;
  } 
  &__desc {
    opacity: 0;
    transition: opacity $tr;
  }
  &__views {
    opacity: 0;
    transition: opacity $tr;
    transform: translateY(70px);
    svg, img {
      fill: $bg;
      transform: translateX(5px) translateY(8px);
    }
  }
  a {
    @include link
  }
  .corner {
    position: absolute;
    width: 15px;
    height: 15px;
    border: {
      bottom: 2px solid $bg;
      left: 2px solid $bg;
    }
    opacity: 0;
    transition: opacity $tr;
    &:nth-of-type(2) {
      top: 50px;
      left: 50px;
      transform: rotate(-90deg);
    }
    &:nth-of-type(3) {
      top: 50px;
      right: 50px;
    }
    &:nth-of-type(4) {
      bottom: 50px;
      left: 50px;
      transform: rotate(180deg);
    }
    &:nth-of-type(5) {
      bottom: 50px;
      right: 50px;
      transform: rotate(90deg);
    }
  }
  &:hover {
    background: {
      color: $text_a;
      blend-mode: color;
    }
    .card__title {
      transform: translateY(0);
    }
    .card__desc, .card__views, .card__title, .corner {
      opacity: 1;
    }
  }
}
.field {
  display: none;
  flex-direction: column;
  width: 100%;
  &__radio {
    display: flex;
    padding: 1.3rem 1rem;
    border: 1px solid $grey;
    margin-bottom: 1rem;
  }
  input:not([type="radio"]){
    margin-bottom: 1.5rem;
  }
}
.next, .prev{
  background-color: $orange;
  @include mobile_small {
    flex: 0 0 100%;
  }
}
.prev {
  img, svg {
    transform: translateY(4px) rotateY(180deg);
  }
}
.payment {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.social {
  &__item {
    margin-bottom: 1rem;
    transition: scale $tr;
    &:hover {
      transform: scale(1.2);
    }
  }
}
.close {
  position: absolute;
  color: $text;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  cursor: pointer;
}
.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  margin: -1px;
  clip: rect(0 0 0 0) {
    path: inset(50%);
  }
}
.fade {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: $text_a;
  opacity: 0;
  transition: opacity $tr;
  pointer-events: none;
  z-index: 2;
}

.main-header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 1.5vh 8.85vw 1vh 0;
  background-color: $bg;
  z-index: 1;
  @include mobile {
    .info {
      display: none;
    }
  }
}
.hero, .contact, .consult, .footer, .card {
  background: {
    size: cover;
    position: center;
  }
}
.hero {
  background-image: url("../img/hero.jpg");
  .container {
    background-color: $bg_a;
  }
  button {
    background-color: $orange;
  }
}
.about {
  max-width: 80vw;
  @include mobile {
    max-width: 100vw;
  }
  &__block {
    flex: 0 0 20%;
    align-self: baseline;
    @include mobile-only {
      flex: 0 0 80%;
      margin: 0 0 2rem 20%;
    }
    svg, img {
      margin-bottom: 1.2rem;
    }
    h3 {
      border: {
        style: solid;
        bottom-width: 4px;
      }
    }
    &:nth-of-type(1) {
      margin-left: 20%;
      h3 {
        border-bottom-color: $green;
      }
    }
    &:nth-of-type(2) h3 {
      border-bottom-color: $red;
    }
    &:nth-of-type(3) h3 {
      border-bottom-color: $blue;
    }
  }
}
.portfolio {
  max-width: 80vw;
  @include mobile {
    max-width: 100vw;
  }
  @include mobile_small {
    height: max-content;
  }
  .btn-like {
    background-color: $purple;
    @include mobile {
      margin-top: 10rem;
    }
  }
}
.price {
  max-width: 80vw;
  @include mobile {
    max-width: 100vw;
  }
  .items {
    display: contents;
    &__block {
      position: relative;
      flex: 1 0 30%;
      padding: 5%;
      transition: color $tr, background-color $tr;
      @include mobile {
        flex: 0 0 100%;
      }
      img, svg {
        display: block;
        margin-bottom: 3.4rem;
        fill: $text;
        transition: fill $tr;
      }
      h3, img, svg {
        margin-left: auto;
        margin-right: auto;
      }
      a {
        @include link;
      }
      &:hover {
        color: $bg;
        svg {
          fill: $bg;
        }
      }
      &:nth-of-type(1):hover {
        background-color: $blue;
      }
      &:nth-of-type(2):hover {
        background-color: $green;
      }
      &:nth-of-type(3):hover {
        background-color: $red;
      }
    }
  }
} 
.benefits {
  position: relative;
  margin-bottom: 5rem;
  max-width: 80vw;
  @include mobile {
    max-width: 100vw;
  }
  .corner {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 0;
    border: {
      bottom: 2px solid $text;
      left: 2px solid $text;
    }
    @include laptop-only {
      display: none;
    }
    &:nth-of-type(2) {
      top: 10%;
    }
    &:nth-of-type(3) {
      bottom: 0%;
      transform: rotate(90deg);
    }
  }
  .items {
    display: grid;
    grid: {
      template-columns: repeat(auto-fit, minmax(380px, 1fr));
      gap: 20%;
    }
    align-items: center;
    @include laptop-only {
      grid-gap: 5%;
    }
    @include mobile-only {
      grid-template-columns: 1fr;
    }
    &__block {
      svg, img {
        fill: $text; 
        stroke-width: 5px;
        margin-left: 3vw;
      }
      p {
        text-transform: uppercase;
        margin-bottom: 5px;
        font: {
          size: 1.05rem;
          weight: 800;
        }
      }
      &::after {
        content: "";
        display: block;
        width: 80px;
        height: 4px;
        background-color: $green;
        margin: 13px 0 0 3vw;
      }
    }
  }
}
.contact, .consult {
  height: 80vh;
  color: $bg;
  @include laptop-only {
    height: max-content;
  }
  .container {
    background-color: $text_a;
  }
}
.contact {
  background-image: url("../img/contact1.jpg");
  button {
    background-color: $green;
  }
}
.review {
  max-width: 80vw;
  @include mobile {
    max-width: 100vw;
  }
  h2 {
    flex: 0 0 100%;
  }
  &__block {
    flex: 1 1 30%;
    @include laptop-only {
      flex: 0 0 100%;
      margin-bottom: 3rem;
    }
    blockquote {
      @include laptop-only {
        p {
          margin-bottom: 1rem;
        }
      }
      &::after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        margin: 0 auto;
        border: {
          width: 2px;
          bottom-style: solid;
          left-style: solid;
        }
        transform: rotate(-45deg);
      }
    }
    &:nth-of-type(1) blockquote::after {
      border-color: $red;
    }
    &:nth-of-type(2) blockquote::after {
      border-color: $green;
    }
    &:nth-of-type(3) blockquote::after {
      border-color: $blue;
    }
  }
}
.consult {
  background-image: url("../img/contact2.jpg");
  height: max-content;
  button {
    background-color: $blue;
  }
}
.request {
  position: fixed;
  top: 5vh;
  left: 20%;
  width: 54rem;
  height: 46rem;
  padding: 4.8vh 4.9vw;
  transform: translate(100vw);
  background-color: $bg;
  z-index: 5;
  transition: translate $tr;
  overflow-y: auto;
  @include tablet-only {
    top: 0;
    left: 0;
    width: 100vw;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    .column {
      flex: 1 1 100%;
      margin-bottom: 1.2rem;
    }
  }
}
.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 3.5rem 4.6rem;
  color: $bg;
  background-image: url("../img/footer.jpg");
  @include mobile {
    padding: 1rem 1rem;
  }
  .logo {
    flex: 1 1 100%;
    margin-bottom: 2rem;
  }
  &_left {
    flex: 1 1 70%;
    padding-right: 2.7rem;
    border-right: 1px solid $grey;
    @include laptop-only {
      flex: 0 0 100%;
      border: 0;
    }
    @include mobile {
      padding-right: 0;
    }
  }
  &__menu {
    display: flex;
    @include mobile {
      flex-wrap: wrap;
      text-align: center;
    }
    &__item {
      flex: 1 1 30%;
      text-transform: uppercase;
      font-weight: 800;
      @include mobile-only {
        flex: 0 0 50%;
      }
      * {
       margin-bottom: 1.3rem; 
      }
    }
  }
  &__payment-info {
    text-decoration: underline;
  }
  &_right {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include laptop-only {
      flex: 0 0 100%;
    }
    @include mobile {
      flex-wrap: wrap;
    }
  }
}

.openHamb {
  .hamb {
    transform: translateY(0);
  }
  .toggle {
    transition: $tr;
    transform: translateX(-10px);
    div:nth-child(1) {
      transform: rotate(45deg) translateX(10px)scale(1.2);
    }
    div:nth-child(2) {
      transform: scale(0);
    }
    div:nth-child(3) {
      transform: rotate(-45deg) translateX(10px) scale(1.2);
    }
  }
}
.openModal {
  .request {
    transform: translateX(0);
  }
  .fade {
    opacity: 1;
  }
}
